

<div id="article_wrap">

    <div id="article_list">
        
        <div>
        	<% @posts.each do |post| %>
	            <h2><a href="/single.html"><%= link_to post.title, post %></a></h2>
	            <p><%= post.created_at.strftime("%B %d, %Y") %></p>
	            <% if post.user == current_user %>
					  <%= link_to '編集', edit_post_path(post) %> |
					  <%= link_to '削除', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>|
				<% end %>
            <% end %>
            
        </div>
        
    </div>

    <div id="sidebar">
        
        <h2>★PV数ランキング</h2>
        <ul>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（10PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（8PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（2PV）</span></a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>


